.starlight-aside {
	padding: 1rem;
	border-inline-start: 0.25rem solid var(--sl-color-asides-border);
	color: var(--sl-color-white);
}
.starlight-aside--note {
	--sl-color-asides-text-accent: #8dd9dc;
	--sl-color-asides-border: #8dd9dc;
	background-color: #415e5f;
}
.starlight-aside--tip {
	--sl-color-asides-text-accent: #73cf9a;
	--sl-color-asides-border: #73cf9a;
	background-color: #266942;
}
.starlight-aside--caution {
	--sl-color-asides-text-accent: #ffc56e;
	--sl-color-asides-border: #ffc56e;
	background-color: #715224;
}
.starlight-aside--danger {
	--sl-color-asides-text-accent: #fb9494;
	--sl-color-asides-border: #f97373;
	background-color: #804b4b;
}

.starlight-aside__title {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	font-size: var(--sl-text-h5);
	font-weight: 600;
	line-height: var(--sl-line-height-headings);
	color: var(--sl-color-asides-text-accent);
}

.starlight-aside__icon {
	font-size: 1.333em;
	width: 1em;
	height: 1em;
}

.starlight-aside__title + .starlight-aside__content {
	margin-top: 0.5rem;
}

.starlight-aside__content a {
	color: var(--sl-color-asides-text-accent);
	text-decoration-color: var(--sl-color-asides-text-accent);
}
