.sl-markdown-content {
  h1 {
    margin-bottom: 1rem;
  }

  .big-page-link {
    display: block;
    text-decoration: none;
    padding: 1.2rem 2rem;
    margin-left: -2rem;
    border-radius: 1rem;
    transition: background-color 0.1s ease-in-out;

    &:hover {
      background-color: rgba(240, 240, 240, 0.05);
    }

    p {
      color: rgb(185, 185, 185);
      margin-top: 0.5rem;
      font-size: 110%;
    }
  }
}

#starlight__sidebar .h3 {
  font-size: var(--sl-text-sm);
  font-weight: 300;
  color: var(--sl-color-text);

  &.hr-after::after {
    content: '';
    display: block;
    width: calc(100% + 2rem);
    height: 0.6px;
    background-color: rgba(240, 240, 240, 0.1);
    margin-top: 1.5rem;
    margin-bottom: -0.5rem;
    margin-left: -1rem;
  }
}
/* 
.sl-markdown-content h2:not(:where(.not-content *))h2 {
  font-size: 1rem;
} */
