.sl-markdown-content {
  h1 {
    margin-bottom: 1rem;
  }

  .big-page-link {
    display: block;
    text-decoration: none;
    padding: 1.2rem 2rem;
    margin-top: 1rem;
    margin-left: -2rem;
    border-radius: 1rem;

    h3 {
      margin-top: 0;
    }

    p {
      color: rgb(185, 185, 185);
      margin-top: 0.5rem;
      font-size: 110%;
    }
  }
}

.sidebar-pane .h3 {
  font-size: var(--sl-text-sm);
  font-weight: 300;

  img + span {
    margin-left: 0.3rem;
  }

  &.top-level-link {
    margin-left: 0;
  }

  &:not(:hover, :focus) {
    color: var(--sl-color-text);
  }
}
