:root,
::backdrop {
  --sl-hue-red: 360;
  --sl-font-system: 'Figtree', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --sl-color-text: #dfd1d7;
  --sl-color-bg: #1e1b1a;
  --sl-color-bg-nav: #1e1b1a;
  --sl-color-bg-sidebar: #1e1b1a;
  --sl-color-hairline: #221e1d;
  --sl-color-black: #1e1b1a;
  --sl-content-width: 45rem;
  --sl-color-text-accent: #ff6464;
  --sl-sidebar-item-padding-inline: 0rem;
  --ec-frm-inlBtnBg: #ff6464;
  /* --code-background: #221f1f; */
  /* --ec-brdRad: 12px; */
  /* --ec-brdWd: 0.5px; */
  #starlight__sidebar ul ul li {
    /* margin-inline-start: var(--sl-sidebar-item-padding-inline); */
    border-inline-start: none;
    font-weight: 300;
    /* padding-top: 2rem; */
    /* padding-inline-start: var(--sl-sidebar-item-padding-inline); */
  }
  #starlight__sidebar summary {
    color: #ff6464;
  }
  @media (min-width: 72rem) {
    .content-panel {
      margin-right: 14vw;
      margin-left: 4vw;
    }
  }
  .header {
    border: none;
  }
  .expressive-code {
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }
  .expressive-code .frame pre {
    border-radius: 8px;
    background: #221f1f;
    border: 0.6px solid #342f2f;
  }
  .expressive-code .frame {
    --code-background: #00000000;
  }
  .expressive-code pre {
    border-radius: 8px;
  }
  .content-panel + .content-panel {
    border-top: none;
  }
  .sidebar-pane {
    padding-left: 0.8rem;
  }
  --ec-codePadBlk: 2rem;
  /* a {
    display: block;
    border-radius: 0;
    text-decoration: none;
    color: var(--sl-color-gray-2);
    padding: 0.4rem 0;
    line-height: 1.4;
  } */
  .expressive-code .copy button::before {
    border: 1px none #00000000;
  }
}
